sentiMentAnalysis/.data/imdb/aclImdb/
sentiMentAnalysis/.data/imdb/
sentiMentAnalysis/data/
sentiment_analysis/.data/
sentiment_analysis/.data/imdb/

/node_modules

# data
sentiment_analysis
sentiMentAnalysis

# production
/build
/out
